<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<h1>Редактирование пользователя!</h1>

<form th:action="@{/users/{id}(id=${user.id})}" th:object="${user}" method="post">
    <input type="hidden" th:field ="*{id}"><br>
    Имя: <input type="text" th:field ="*{name}"><br>
    Фамилия: <input type="text" th:field ="*{lastName}"><br>
    Возраст: <input type="number" th:field ="*{age}">
    <input type="submit" value="Сохранить!">
</form>
<br>
<a th:href="@{/users}">Назад к списку</a>
</body>
</html>